/* STYLE GRY  */

.sorce_container
{
	padding: 2%;
}
#background_game
{
	background-color: #392613;
	height: 580px;
	width: 80%;
	overflow: scroll;
	float: left;
}
#field
{
	
	width: 840px;
	height: 672px;
	display: flex;
	flex-wrap: wrap;
}
.field_box
{
	width: 80px;
	height: 80px;
	background-color: rgba(153, 153, 102, 0.2);
	border-radius: 20px;
	margin: 2px;
}
.field_box img
{
	width: 80px;
	height: 80px;
}
#menu_game
/* MENU NARZĘDZI */
{
	float: left;
	min-width: 120px;
	height: 540px;
	padding: 20px;
	background-color: #004d00;
}
.button_game_off 
/* NIE AKTYWNY PRZYCISK NARZĘDZI */
{
	display: block;
	padding: 15px 15px;
	text-align: center;
	width: 120px;
	margin: 2px auto;
	font-size: 20px;
	border-radius: 20px;
	outline: none;
	color: #fff;
	background: linear-gradient(to bottom right, #006600, #003300);
	border-color: #003300 #006600;
}
.button_game_off:hover
{
	color: #ffcc00;
}
.button_game_on
/* AKTYWNY PRZYCISK NARZĘDZI */
{
	border-color: #003300 #006600 red ;
	background: linear-gradient(to bottom right, #005500, #002200);
	color: #ffcc00;
}