{% extends 'base.html' %}

{% block header_X %}
	 <link rel="stylesheet" href="static/css/style_game.css" type="text/css" />
{% endblock %}

{% block main_container %}

	<div class="sorce_container">
		<div id="background_game">
			<div id="fild">
				<div class="fild_box" id="f0"></div>
				<div class="fild_box" id="f1"></div>
				<div class="fild_box" id="f2"></div>
				<div class="fild_box" id="f3"></div>
				<div class="fild_box" id="f4"></div>
				<div class="fild_box" id="f5"></div>
				<div class="fild_box" id="f6"></div>
				<div class="fild_box" id="f7"></div>
				<div class="fild_box" id="f8"></div>
				<div class="fild_box" id="f9"></div>
				<div class="fild_box" id="f10"></div>
				<div class="fild_box" id="f11"></div>
				<div class="fild_box" id="f12"></div>
				<div class="fild_box" id="f13"></div>
				<div class="fild_box" id="f14"></div>
				<div class="fild_box" id="f15"></div>
				<div class="fild_box" id="f16"></div>
				<div class="fild_box" id="f17"></div>
				<div class="fild_box" id="f18"></div>
				<div class="fild_box" id="f19"></div>
				<div class="fild_box" id="f20"></div>
				<div class="fild_box" id="f21"></div>
				<div class="fild_box" id="f22"></div>
				<div class="fild_box" id="f23"></div>
				<div class="fild_box" id="f24"></div>
				<div class="fild_box" id="f25"></div>
				<div class="fild_box" id="f26"></div>
				<div class="fild_box" id="f27"></div>
				<div class="fild_box" id="f28"></div>
				<div class="fild_box" id="f29"></div>
				<div class="fild_box" id="f30"></div>
				<div class="fild_box" id="f31"></div>
				<div class="fild_box" id="f32"></div>
				<div class="fild_box" id="f33"></div>
				<div class="fild_box" id="f34"></div>
				<div class="fild_box" id="f35"></div>
				<div class="fild_box" id="f36"></div>
				<div class="fild_box" id="f37"></div>
				<div class="fild_box" id="f38"></div>
				<div class="fild_box" id="f39"></div>
				<div class="fild_box" id="f40"></div>
				<div class="fild_box" id="f41"></div>
				<div class="fild_box" id="f42"></div>
				<div class="fild_box" id="f43"></div>
				<div class="fild_box" id="f44"></div>
				<div class="fild_box" id="f45"></div>
				<div class="fild_box" id="f46"></div>
				<div class="fild_box" id="f47"></div>
				<div class="fild_box" id="f48"></div>
				<div class="fild_box" id="f49"></div>
				<div class="fild_box" id="f50"></div>
				<div class="fild_box" id="f51"></div>
				<div class="fild_box" id="f52"></div>
				<div class="fild_box" id="f53"></div>
				<div class="fild_box" id="f54"></div>
				<div class="fild_box" id="f55"></div>
				<div class="fild_box" id="f56"></div>
				<div class="fild_box" id="f57"></div>
				<div class="fild_box" id="f58"></div>
				<div class="fild_box" id="f59"></div>
				<div class="fild_box" id="f60"></div>
				<div class="fild_box" id="f61"></div>
				<div class="fild_box" id="f62"></div>
				<div class="fild_box" id="f63"></div>
				<div class="fild_box" id="f64"></div>
				<div class="fild_box" id="f65"></div>
				<div class="fild_box" id="f66"></div>
				<div class="fild_box" id="f67"></div>
				<div class="fild_box" id="f68"></div>
				<div class="fild_box" id="f69"></div>
				<div class="fild_box" id="f70"></div>
				<div class="fild_box" id="f71"></div>
				<div class="fild_box" id="f72"></div>
				<div class="fild_box" id="f73"></div>
				<div class="fild_box" id="f74"></div>
				<div class="fild_box" id="f75"></div>
				<div class="fild_box" id="f76"></div>
				<div class="fild_box" id="f77"></div>
				<div class="fild_box" id="f78"></div>
				<div class="fild_box" id="f79"></div>
			</div>
		</div>
		<div id="menu_game">
			<button class="button_game_off" id="button_game_0">Łopata</button>
			<button class="button_game_off" id="button_game_1">Konewka</button>
			<button class="button_game_off" id="button_game_2">Sekator</button>
			<button class="button_game_off" id="button_game_3">Siekierka</button>
			<button class="button_game_off" id="button_game_4">Kilof</button>
			<button class="button_game_off" id="button_game_5">Nasiona</button>
			<button class="button_game_off" id="button_game_6">Nawozy</button>
		</div>
		<div style="clear:both;"></div>
	</div>

{% endblock %}