{% extends 'base.html' %}

{% block header_X %}
	 <link rel="stylesheet" href="static/css/style_game.css" type="text/css" />
{% endblock %}

{% block main_container %}

	<div class="sorce_container">
		<div id="background_game">
			<div id="field">
				{% for krotka in the_src_base %}<div class="field_box" id="f{{ krotka[1] }}">{{ krotka[6] }}</div>{% endfor %}
				
			</div>
		</div>
		<div id="menu_game">
			<button class="button_game_off" id="button_game_0">Łopata</button>
			<button class="button_game_off" id="button_game_1">Konewka</button>
			<button class="button_game_off" id="button_game_2">Sekator</button>
			<button class="button_game_off" id="button_game_3">Siekierka</button>
			<button class="button_game_off" id="button_game_4">Kilof</button>
			<button class="button_game_off" id="button_game_5">Nasiona</button>
			<button class="button_game_off" id="button_game_6">Nawozy</button>
		</div>
		<div style="clear:both;"></div>
	</div>
	<script src="static/javascript/fun_game.js" type="text/javascript"></script>

{% endblock %}